main {
  display: flex;
  width: 100%;
  justify-items: center;
  padding-top: 2em;
  padding-left: 2em;
  gap: 1em;
}

.forum-topic {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    width: 70%; /* Set the width of the forum topics to 70% of the screen */
  }
  
  .forum-topic h2 {
    margin-top: 0;
  }
  
  .topic-details {
    font-weight: bold;
  }
  
  .topic-content {
    margin-top: 10px; /* Add some space between the topic details and the topic content */
  }
  
  main {
    float: left; /* Position the main section to the left */
    width: 70%; /* Set the width of the main section to 70% of the screen */
  }
  
  