<div class="posts-container" *ngIf="post">
  <div class="post">
    <h2 class="post-title">{{post.title}}</h2>
    <p class="post-category">Category: {{post.category}}</p>
    <p class="post-author">Author: {{post.authorName}}</p>
    <p class="post-text" *ngIf="!editingPost; else editTextTemplate">Text: {{post.text}}
      
      <button class="edit-button" (click)="editPost()">Edit</button>
      <button class="delete-button" (click)="deletePost()">Delete</button>
    </p>
  </div>
</div>

<ng-template #editTextTemplate>
  <form (ngSubmit)="saveChanges()">
    <textarea [(ngModel)]="post.text" name="text" class="edit-input"></textarea>
    <div class="save-cancel" >
      <button type="submit" class="edit-button">Save</button>
      <button type="button" class="delete-button" (click)="cancelEdit()">Cancel</button>
    </div>
  </form>
</ng-template>
