<div class="posts-container" *ngIf="post">
  <div class="post">
    <h2 class="post-title">{{post.title}}</h2>
    <p class="post-category">Category: {{post.category}}</p>
    <p class="post-author">Author: {{post.authorName}}</p>
    <p class="post-text" *ngIf="!editingPost; else editTextTemplate">Text: {{post.text}}</p>
    
    <ng-container *ngIf="userId === post.authorId">
      <ng-container *ngIf="!editingPost">
        <div class="save-cancel">
          <button class="edit-button" (click)="editPost()">Edit</button>
          <button class="delete-button" (click)="deletePost()">Delete</button>
        </div>
      </ng-container>
      <ng-container *ngIf="editingPost">
        <div class="save-cancel">
          <button type="button" class="edit-button" (click)="saveChanges()">Save</button>
          <button type="button" class="delete-button" (click)="cancelEdit()">Cancel</button>
        </div>
      </ng-container>
    </ng-container>
    
    <ng-container *ngIf="userId !== post.authorId">
      <!-- Проверка за абониране -->
      <div class="subscribe-comment">
        <button class="subscribe-button" *ngIf="!isSubscribed" (click)="subscribe()">Subscribe</button>
        <button class="unsubscribe-button" *ngIf="isSubscribed" (click)="unsubscribe()">Unsubscribe</button>
      </div>
    </ng-container>   
      <app-comments [userId]="userId || ''" [postId]="postId"></app-comments>
    </div>
</div>
<ng-template #editTextTemplate>
  <form (ngSubmit)="saveChanges()">
    <textarea [(ngModel)]="post.text" name="text" class="edit-input"></textarea>   
  </form>
</ng-template>
