<aside>
    <div class="category auto" (click)="getPostsByCategory('auto')">
      <img src="../../assets/auto.png" alt="Auto Category Image">
      <div class="category-title">
        <h3>Auto</h3>
        <p class="category-details">Posts: 5</p>
      </div>
    </div>
    
    <div class="category repair" (click)="getPostsByCategory('repair')">
      <img src="../../assets/repair.png" alt="Repair Category Image">
      <div class="category-title">
        <h3>Repair</h3>
        <p class="category-details">Posts: 8</p>
      </div>
    </div>
    
    <div class="category sport" (click)="getPostsByCategory('sport')">
      <img src="../../assets/sport.png" alt="Sport Category Image">
      <div class="category-title">
        <h3>Sport</h3>
        <p class="category-details">Posts: 3</p>
      </div>
    </div>
  </aside>
  
