<aside>
    <div class="category">
      <h3>Auto</h3>
      <p class="category-details">Topics: 5</p>
      <img src="auto.jpg" alt="Auto Category Image">
    </div>
    
    <div class="category">
      <h3>Repair</h3>
      <p class="category-details">Topics: 8</p>
      <img src="repair.jpg" alt="Repair Category Image">
    </div>
    
    <div class="category">
      <h3>Sport</h3>
      <p class="category-details">Topics: 3</p>
      <img src="sport.jpg" alt="Sport Category Image">
    </div>
  </aside>
  
