<aside>
    <div class="category auto">
      <h3>Auto</h3>
      <p class="category-details">Topics: 5</p>
      <img src="./images/auto.png" alt="Auto Category Image">
    </div>
    
    <div class="category repair">
      <h3>Repair</h3>
      <p class="category-details">Topics: 8</p>
      <img src="./images/repair.png" alt="Repair Category Image">
    </div>
    
    <div class="category sport">
      <h3>Sport</h3>
      <p class="category-details">Topics: 3</p>
      <img src="./images/sport.png" alt="Sport Category Image">
    </div>
  </aside>
  
