<div class="profile-container">
  <h2>My Profile</h2>
  <div *ngIf="!isEditing" class="profile-info">
    <p><strong>Username:</strong> {{ userData.username }}</p>
    <p><strong>Email:</strong> {{ userData.email }}</p>
    <p><strong>Interests:</strong> {{ userData.interests }}</p>
  </div>
  <form *ngIf="isEditing" (ngSubmit)="saveChanges()" class="profile-info">
    <p><strong>Username:</strong> {{ userData.username }}</p>
    <p><strong>Email:</strong> {{ userData.email }}</p>
    <label for="interests"><strong>Interests:</strong></label>
    <input
      type="text"
      id="interests"
      name="interests"
      [(ngModel)]="editedUserData.interests"
    />
    <div class="btn">
      <button type="submit" class="save">Save</button>
      <button type="button" class="cancel" (click)="cancelEdit()">Cancel</button>
    </div>
  </form>
  <div class="buttons">
    <button *ngIf="!isEditing" (click)="editProfile()">Edit</button>
  </div>
</div>
