.profile-container {
    max-width: 400px;
    margin: 2em auto;
    padding: 20px;
    background-color: #d8d4d4;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
  }
  
  .profile-info p {
    margin-bottom: 10px;
  }

  .btn {
    display: flex;
    justify-content: space-evenly;
    margin: 2em;
  }

  .save{
    background: rgb(20, 158, 20);
  }

  .cancel{
    background: rgb(183, 38, 38);
  }
  
  .buttons {
    margin-top: 20px;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  