  <nav>
    <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="">BG<span class="logo_colour">Papa</span></a></h1>
          <h2>Cars. Repair. Sport.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- останалите елементи -->
          <li class="menu-item"><a href="#">Home</a></li>
          <li class="menu-item"><a href="#">Popular</a></li>
          <li class="menu-item"><a href="#">Latest</a></li>
          <li class="menu-item menu-login"><a href="#">Login</a></li>
          <li class="menu-item menu-register"><a href="#">Register</a></li>
        </ul>
      </div>
    </div>
    </div>
  </nav>
