  <nav>
    <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="">BG<span class="logo_colour">Papa</span></a></h1>
          <h2><span id="cars">Cars. </span><span id="repair">Repair. </span><span id="sport">Sport. </span></h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- останалите елементи -->
          <li class="menu-item"><a href="/home">Home</a></li>
          <li class="menu-item"><a routerLink="/posts">Posts</a></li>
          <li class="menu-item"><a routerLink="/new">New Post</a></li>
          <div *ngIf="!isLoggedIn">
            <li class="menu-item menu-login"><a routerLink="/login">Login</a></li>
            <li class="menu-item menu-register"><a routerLink="/register">Register</a></li>
          </div>
          <div *ngIf="isLoggedIn">
            <li class="menu-item" id="menu-profileEmail"><a routerLink="/profile">Profile :{{this.username}}</a></li>
            <li class="menu-item menu-logout" (click)="logout()"><a routerLink="/logout">Logout</a></li>
          </div>
        </ul>
      </div>
    </div>
    </div>
  </nav>
