<div class="form-container">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <h2>Login</h2>
    <input 
        type="text" 
        name="email" 
        placeholder="Email" 
        ngModel
        #inputEmail="ngModel" 
        required 
        [appEmail]="inputEmail.value"
    />
    <ng-container *ngIf="inputEmail.touched">
        <span class="error-message" *ngIf="inputEmail.errors?.['required']">Email is required !</span>
        <span class="error-message" *ngIf="inputEmail.errors?.['emailValidator']">Email is not valid !</span>
    </ng-container>
    <input 
        type="password" 
        name="password" 
        placeholder="Password"
        ngModel 
        #inputPassword="ngModel" 
        required 
    />

    <ng-container *ngIf="inputPassword.touched">
        <span class="error-message" *ngIf="inputPassword.errors?.['required']">Password is required !</span>
    </ng-container>
    <button>Login</button>
  </form>
  <p>Don't have an account? <a routerLink="/register">Register here</a></p>
</div>
