<div class="form-container">
  <form #registerForm="ngForm">
    <h2>Register</h2>
    <input
      type="text"
      name="username"
      placeholder="Username"
      #inputUsername = "ngModel"
      ngModel
      minlength="4"
      required
    />
    <ng-container *ngIf="inputUsername.touched">
      <span class="error-message" *ngIf="inputUsername.errors?.['required']">Username is required !</span>
      <span class="error-message" *ngIf="inputUsername.errors?.['minlength']">Username must be at least 4 characters !</span>
    </ng-container>
    <input 
        type="email" 
        name="email" 
        placeholder="Email" 
        ngModel
        #inputEmail = "ngModel" 
        required
        [appEmail]="inputEmail.value" 
    />
    <ng-container *ngIf="inputEmail.touched">
      <span class="error-message" *ngIf="inputEmail.errors?.['required']">Email is required !</span>
      <span class="error-message" *ngIf="inputEmail.errors?.['emailValidator']">Email is not valid !</span>
  </ng-container>
    <input
      type="password"
      name="password"
      placeholder="Password"
      ngModel
      #inputPassword = "ngModel"
      required
      minlength="5"
    />
    <ng-container *ngIf="inputPassword.touched">
      <span class="error-message" *ngIf="inputPassword.errors?.['required']">Password is required !</span>
      <span class="error-message" *ngIf="inputPassword.errors?.['minlength']">Password must be at least 5 characters !</span>
  </ng-container>
    <input
      type="password"
      name="confirm_password"
      placeholder="Confirm Password"
      [(ngModel)] = "confirmPassword"
      required
    />
    <ng-container *ngIf="!isMatch">
      <span class="error-message">Password doesn't match !</span>
    </ng-container>
    <button (click)="submitForm()" [disabled]="!registerForm.valid || !isMatch">Register</button>
  </form>
  <p>Already have an account? <a routerLink="/login">Login here</a></p>
</div>
