<div class="comments-container">

    <div class="add-comment-section">
      <h3>Add a Comment</h3>
      <form (submit)="saveComment()">
        <div>
          <label for="commentText">Comment:</label>
          <textarea id="commentText" [(ngModel)]="commentText" name="commentText"></textarea>
        </div>
        <div class="button">
          <button type="submit" class="button-add">Add</button>
          <button type="button" class="button-cancel" (click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  

    <div class="comment-list">
      <div *ngIf="!comments || comments.length === 0" class="no-comments-message">No comments yet!</div>
      <ng-container *ngIf="comments.length > 0">
        <div *ngFor="let comment of comments" class="comment">
          <p class="comment-date">Date: {{ formatTimestamp(comment.date) }}</p>
          <p class="comment-text">{{ comment.author }} : {{ comment.text }}</p>
        </div>
    </ng-container>
    </div>
  </div>
  