
#footer
{ 
  clear: both;
  width: 100%;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  height: 33px;
  position: fixed;
  bottom: 0;
  text-align: center; 
  background: transparent url(../../../assets/transparent_light.png) repeat;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  box-sizing: border-box;
}

#footer a
{ color: #000;
  text-decoration: none;}

#footer a:hover
{ color: #000;
  text-decoration: underline;}

