<div class="new-topic-container">
  <h2>Create a New Post</h2>
  <form #newPostForm="ngForm">
    <div class="form-group">
      <label for="topic-title">Title:</label>
      <input 
        type="text" 
        id="topic-title" 
        name="title"
        ngModel 
        required 
        />
    </div>
    <div class="form-group">
      <label for="topic-category">Category:</label>
      <select 
        id="topic-category" 
        name="category"
        ngModel 
        required
        >
            <option value="" disabled selected>Select a category</option>
            <option value="cars">Cars</option>
            <option value="repair">Repair</option>
            <option value="sports">Sport</option>
      </select>
    </div>
    <div class="form-group">
      <label for="topic-content">Content:</label>
      <textarea
        id="topic-content"
        name="content"
        rows="6"
        ngModel
        required
      ></textarea>
    </div>
    <div class="button">
      <button class="cancel" (click)="submitForm()">Cancel</button>
      <button class="submit" (click)="submitForm()">Create</button>
    </div>
  </form>
</div>
